* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inline-icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sub-text {
  font-size: 14px;
  color: #198755;
  margin: 10px 0px;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.login-form {
  margin: 20px 0px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0a6ffd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.checkbox-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.checkbox-field > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-field label {
  margin: 0;
  cursor: pointer;
}

.checkbox-field input[type="checkbox"] {
  width: auto;
  margin: 0;
  cursor: pointer;
}

.checkbox-field a {
  color: #0a6ffd;
  text-decoration: none;
  font-size: 14px;
}

.checkbox-field a:hover {
  text-decoration: underline;
}
